@model IEnumerable<WebEvidencPojistenychDK.Models.InsuredPerson>

@{
	ViewData["Title"] = "Správa pojištěnců";
}


<div class="col-7">
	<div class="mt-5">

		<a  asp-action="Create" ><input type="button" value="Přidat nového pojištěnce" class="btn btn-primary"/></a>

	</div>

	<table class="table mt-3" >
		<thead>
			<tr>
				<th class="col-3" >
					
					Křestní jméno
				</th>
				<th    class="col-3">
					Příjmení
				</th>
				<th class="col-3">
					Věk
				</th>
				<th class="col-2">

				</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.FirstName)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Surname)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Age)
					</td>

					<td> 
						 <div class="form-group">
							<a class="text-decoration-none" asp-action="Details" asp-route-id="@item.Id">
								<input type="submit" value="Detail" class="btn btn-info"/>
							</a>
						</div>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>