@{
	ViewData["Title"] = "Kontakt";
}

<p>
	<!-- Doplnit e-amil-->
	<img src=""/>
	V případě zájmu mne můžete kontaktovat na: <br /> 
	<strong>kohut(tečka)david(zavináč)seznam(tečka)cz</strong> 
	<br />nebo využíjte formulář níže.</p>

	<!-- Zde doplnit kontaktní formulář-->